body {
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-around;
    width: 575px;
    height: 385px;
    background-color: #1B244A;
    margin: auto;
}

h3 {
    margin-top: 149px;
}